
.home-container {
  background: #090909;
  /* background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px); */
  background-size: 3px 3px;
  overflow-x: hidden;
}


.home-container h1 > div:first-child {
    color: #ff7145 !important;
}

.home-container h1 > div:nth-child(2) {
    color: white !important;
}


.top {
  background: #090909;
  border-radius: 0 0 50px 50px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; 
}

.middle {
  background-color: #1c1c1c;
  /* height: 75vh; */
}

.top > * {
  flex-shrink: 0; /* Empêche les enfants d'être écrasés */
}






