.nav-link {
  position: relative;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ff7145;
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
}

.nav-link:hover {
  color: #ff7145;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #ff7145;
}

.nav-link.active::after {
  width: 100%;
}
