@font-face {
  font-family: "New Montreal";
  src: url("./fonts/NewMontreal/woff/PPNeueMontrealMono-RegularItalic.woff2") format("woff2"),
       url("./fonts/NewMontreal/woff/PPNeueMontrealMono-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}



.card-project-container{
  width: 80%;
  height: 100vh;
  /* background-color: blue; */
  font-family: "New Montreal";
}

.numero {
  margin-left: -180px;
  font-weight: bold;
  color: #fff;
  font-size: 5vw;
  opacity: 0.3
}

.card-project {
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  transition: background-size 0.3s ease-in-out;
  background-size: cover;
}

.card-project:hover {
  background-size: 110%; /* Zoom léger */
}


.card-project:hover .card-description {
  border-radius: 0 0 10px 10px;
  opacity: 1;
  transform: translateY(0);
}
.card-project img {
  border-radius: 5px;
  transform: scale(0.8);
  transition: 0.27s ease-in-out;
}
.card-project img:hover {
  color: #0909098a;
  transform: scale(0.82);
}



.card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem; 
  font-size: 0.7rem;
  background: #090909bd;
  opacity: 0;
  transform: translateY(8px); 
  transition: all 0.3s ease-in-out;
  text-align: justify;
  color: #fff;
  font-weight: 500;
  backdrop-filter: "blur(5px)";
}

.card-project:hover .card-description {
  opacity: 1;
  transform: translateY(0);
}

.custom-button {
  margin-top: 1.5rem; 
  background-color: #22c55e;
  color: black;
  font-weight: bold;
  padding: 2px 25px; 
  border-radius: 9999px; 
  transition: background-color 0.3s ease-in-out;
  border: none;
  outline: none;
  font-size: 0.7em;
}

.custom-button:hover {
  background-color: #16a34a;
}

.custom-button:focus {
  outline: none;
}

